.about {
  padding: 100px 60px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;

  align-items: center;
}

.about h2 {
  font-size: 55px;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
}

.about p {
  color: #666;
  line-height: 1.8;
}